/*Slideshow*/
.mySlides {
	display:none;
}

img {
	vertical-align:middle;
}

.slideShow-container {
	margin: auto;
}

/*Structural Elements*/
body {
	font-family:Lucida Console;
	background:#e6e6ff;
	padding:5px;
}

header {
	background:#9999ff;
	padding:5px;
	text-decoration:wavy;
}

footer {
	background:#9999ff;
	padding:5px;
	text-align:center;
}

/*Division*/
#content {
	width:80%;
	margin:auto;
	background:#ccccff;
	padding:0px;
}

/*Navigation*/
#main-nav ul {
	padding-left:5;
	text-align:center;
}

#main-nav li {
	list-style-type:none;
	display:inline;
}

#main-nav a {
	text-decoration:none;
	background:#e6e6ff;
	color:#346340;
	padding:5px;
	border:2px dotted black;
	border-radius:8px;
}

#main-nav a:hover {
	background:#ccccff;	
}

/*Columns*/
.columns{
	display:flex;
	padding:5px;
}


/*Typography*/

h1{
	color:#fcfcfc;
	padding-bottom:20px;
	text-align:center;
}

h2{
	color:#4b494b;
	text-align:center;
}

h3{
	padding:10px;
}

.para{
	padding:10px;
	border:2px solid purple;
	border-radius:20px;
	
}

p{
	padding:10px;
}

